In [2]:
import os

import pandas as pd
import numpy as np
import re

Plastic polution in the top 20 rivers 2015

In [3]:
fp = os.path.join('data', 'plastic-top-20-rivers.csv')
plastic_rivers = pd.read_csv(fp)
plastic_rivers

,Entity,Code,Year,Plastic mass input from rivers (tonnes)
0,Africa,NaN,2015,109200
1,"Amazon (Brazil, Peru, Colombia, Ecuador)",NaN,2015,38900
2,Asia,NaN,2015,1210000
3,Australia-Pacific,NaN,2015,300
4,Brantas (Indonesia),NaN,2015,38900
5,Central & North America,NaN,2015,13400
6,"Cross (Nigeria, Cameroon)",NaN,2015,40300
7,Dong (China),NaN,2015,19100
8,Europe,NaN,2015,3900
9,"Ganges (India, Bangladesh)",NaN,2015,115000
10,Hanjiang (China),NaN,2015,12900
11,Huangpu (China),NaN,2015,40800
12,Imo (Nigeria),NaN,2015,21500
13,Irrawaddy (Myanmar),NaN,2015,35300
14,Kwa Ibo (Nigeria),NaN,2015,11900
15,Magdalena (Colombia),NaN,2015,16700
16,"Mekong (Thailand, Cambodia, Laos, China, Myanm...",NaN,2015,22800
17,Pasig (Philippines),NaN,2015,38800
18,Progo (Indonesia),NaN,2015,12800
19,Serayu (Indonesia),NaN,2015,17100
20,Solo (Indonesia),NaN,2015,32500
21,South America,NaN,2015,67400
22,Tamsui (Taiwan),NaN,2015,14700
23,World,OWID_WRL,2015,1404200
24,Xi (China),NaN,2015,73900
25,Yangtze (China),NaN,2015,333000
26,Zhujiang (China),NaN,2015,13600

## ALPLA Werke Alwin Lehner GMBH & Co KG 2015-2018 
Data from sustainability report 2018
https://sustainability-report18.alpla.com/en/about-alpla

In [12]:
alpla = pd.DataFrame(index = ["Revenue", "Employees", "Production plants", "In-house", "Countries"], columns = [2015, 2016, 2017, 2018])
alpla[2015] = [3.3, 16500, 159, 73, 42]
alpla[2016] = [3.25, 18300, 172, 69, 43]
alpla[2017] = [3.4, 19300, 176, 72, 45]
alpla[2018] = [3.66, 20800, 178, 72, 46]
alpla.to_csv("data/alpla_company_stats.csv", index = False)